body {
	margin: 0;
}

#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
}

main {
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
}

header {
	margin: 0;
	height: 56px;
	padding: 16px 20px;
	box-sizing: border-box;
	background-color: #35495E;
	color: #ffffff;
}

header > span,
header > div {
	display: inline-block;
	position: relative;
	font-size: 20px;
	line-height: 20px;
	font-weight: 400;
	box-sizing: border-box;
	vertical-align: middle;
}

header > div.menu-icon {
	cursor: pointer;
	margin-right: 6px;
}

div.button {
	cursor: pointer;
	border: 1px solid #35495E;
	width: fit-content;
	padding: 6px 8px;
}
