.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 56px;
	box-sizing: border-box;
	background-color: #232D35;
	color: #fff;
	color: rgba(255, 255, 255, .9);
	box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, .5);
	z-index: 999;
}

.navbar > p {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	line-height: 24px;
	font-size: 16px;
	padding: 16px 20px 16px 0;
	margin: 0;
	font-weight: 400;
}
